[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/tmux/plugins/tmux-sensibl"]
	path = tmux/tmux/plugins/tmux-sensibl
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/tmux/plugins/tmux-sessionx"]
	path = tmux/tmux/plugins/tmux-sessionx
	url = https://github.com/omerxx/tmux-sessionx
[submodule "tmux/plugins/tmux-session"]
	path = tmux/plugins/tmux-session
	url = https://github.com/omerxx/tmux-sessionx
[submodule "plugins/tmux-sessionx"]
	path = plugins/tmux-sessionx
	url = https://github.com/omerxx/tmux-sessionx
[submodule "tmux/plugins/tmux-sessionx"]
	path = tmux/plugins/tmux-sessionx
	url = https://github.com/omerxx/tmux-sessionx
