output "eDP-1" {
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1200@59.950"
    scale 1
    transform "normal"
    position x=0 y=0
}

output "BOE 0x085E Unknown" {
    mode "1920x1080@60.003"
    scale 1
    transform "normal"
    position x=0 y=0
}
output "Invalid Vendor Codename - RTK 0x1920 0x19201080" {
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=-1920 y=0
}

output "ASUSTek COMPUTER INC ASUS VP248QG J8LMTF119990" {
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=1920 y=0
}

output "ASUSTek COMPUTER INC ASUS VP248QG L7LMTF207019" {
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=3840 y=0
}

output "ASUSTek COMPUTER INC ASUS VP248QG L7LMTF112943" {
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=-1920 y=0
}

output "Philips Consumer Electronics Company PHL 241B8Q ZV02214017659" {
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=1920 y=0
}

output "Philips Consumer Electronics Company PHL 241B8Q ZV02214017639" {
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=0 y=0
}

